body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0;
    height: 100vh; 
}

#divHeader {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 12vh; 
    text-align: center;
}

#titleSpan {
    display: flex;
    align-items: center; 
}

#logInfo{
    position: absolute;
    right: 110px;
    top: 10px;
    text-align: center;
    align-items: center;
    margin: 2px;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(64 22 22 / 52%);
    border-radius: 10px;
    display: flex;
    width: 175px;
    height: 60px;
    
}

#logInfo p{
    font-size: 22px;
    color: white;
}

#logInfo img{
    width: 30px;
    height: 30px;
}

#logInfo button{
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: none;
    box-shadow: inset 2px -2px 3px 2px #43443b;
}

#logInfo button:hover{
    border: none;
    margin: 5px;
    background-color: #a0c711;
    box-shadow: inset 1px -1px 2px 1px #43443b;
}

#titleH {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #eae921;
    display: flex;
    align-items: center; 
    gap: 30px; 
}

#titleH img {
    vertical-align: middle; 
}


#divMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /*border: 5px solid rgba(153, 0, 0, 0.48);*/
    border-radius: 10px;
    min-width: 700px; 
    min-height: 500px; 
    background-color: rgba(255, 255, 255, 0.319);
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    justify-content: space-around;
}

.hello{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.divInputsNButts{
    width: 50%;
    height: 50%;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgb(64 22 22 / 52%);
    border: 15px solid lightgray;
    align-items: center;
    box-shadow: -6px -10px 10px;
}

.divInputsNButts h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}


.divInputsNButts p{
    font-family:fantasy;
}

.divInputsNButts input{
    padding: 5px;
    border-radius: 15px;
    border: none;
    margin-right: 12px;
    margin-left: 6px;
    text-align: center;
}
.gameButt{
    padding:8px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: #000000e0;
    justify-content: center;
}

.input{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /*border: 2px solid black;*/
    justify-content: space-around;
    
}

.input input{
    box-shadow: inset 2px 4px 2px 2px #CDDC39;
}

.or{
    margin: 10px;
}

.header{
    background-color: #57c34a52;
    margin:2px; 
    padding:2px;
    border: 2px solid rgb(153 0 0 / 65%);
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    height: 10%;
    align-items: center;
    
}
.header p{
    background-color: #009688;
    padding: 8px;
    color: white;
    font-family:fantasy;
    box-shadow: -3px -5px 5px #00000091;
}
.header img{
    
    width: 45px;
    height: 45px;
}
.divBoard{
    box-shadow: -6px -10px 10px;
    border: 25px solid #6c1c1c;
}

.divRow{
    height: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    width: auto;
    display: flex;
}
.cell{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-family:fantasy;
}
.cell-hover {
    background-color: red;
}
.divConclude{
    padding: 25px;
    background-color: #808080a3;
    border: 15px solid lightgray;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:fantasy;
    border-radius: 5px;
    left: 175px;
    box-shadow: -6px -10px 10px #f9000091;
}
.divConclude p{
    margin: 5px;
    padding: 5px;
    background-color: #d6d631;
    border-radius: 5px;
}

.buttReturn{
    width: 75%;
    padding:8px;
    margin-top: 35px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: #000000e0;
    justify-content: center;
}

table, tr, th, td{
    color: black;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 2px;
    margin: 15px;
    font-family: monospace;
    background-color: rgb(116 238 206 / 24%);
}

th{
    background-color: rgb(243 3 3 / 53%);
}

#divPastGames{
    position: absolute;
    right: 10px;
    top: 85px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(64 22 22 / 52%);
    border-radius: 10px;
    max-height: 500px;
    overflow-y: auto; 
}

#divPastGames h4{
    font-family: monospace;
    font-size: 150%;
    margin: 15px 0px;
    color: #ffffff;
}


::-webkit-scrollbar {
    width: 12px;
}



::-webkit-scrollbar-thumb {
    background: rgb(233 54 9 / 68%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233 54 9 / 90%);
}
  